@import url("http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css");

#home {
    background-image: url("../image/home-bg.png");
    background-size: 100% 100%;
    width: 100%;
    height: 100vh;
    min-height: 600px;
    min-width: 850px;
}

#name-home {
    color: white;
    font-size: 4.5vw;
    margin-top: 20vh;
    text-align: center;
}

#welcome {
    color: lightgray;
    font-size: 1.5vw;
    margin-top: -5px;
    text-align: center;
}

#intro {
    color: white;
    font-size: 1.2vw;
    margin-top: 3vw;
    margin-left: 33%;
    margin-right: 33%;
    text-align: center;
}

.icon {
    margin-left: 8px;
}

body {
    position: relative;
    min-width: 800px;
}

#navbar {
    border-width: 0px;
    border-radius: 0px;
    background-image: -webkit-linear-gradient(top, #01240d, #03570f);
    background-image: -moz-linear-gradient(top, #01240d, #03570f);
    background-image: -ms-linear-gradient(top, #01240d, #03570f);
    background-image: -o-linear-gradient(top, #01240d, #03570f);
    background-image: linear-gradient(to bottom, #01240d, #03570f);
}

#name-navbar {
    margin: 0px;
    padding: auto;
    color: white;
}

.navbar-padding {
    padding-top: 70px;
}

.navbar-right-margin {
    margin-right: 0px;
}

#projects {
    width: 100%;
    height: auto;
    min-height: 102vh;
    background-image: url("../image/project-bg.png");
    padding-bottom: 50px;
    padding-top: 20px;
    background-repeat: repeat-y;
    background-size: cover;
}

#project-container {
    padding-top: 1px;
}

#overview-projects {
    font-size: 210%;
    height: 13%;
    margin-left: 2%;
}

.projects {
    width: 80%
}

#researches {
    background-image: url("../image/research-bg.png");
    width: 100%;
    height: auto;
    min-height: 109vh;
    min-width: 850px;
    background-repeat: repeat-y;
    padding-top: 100px;
    margin-top: -25px;
    background-size: cover;
}

.research {
    margin-left: 13vw;
    margin-right: 13vw;
    float: left;
    width: 74vw;
    background-color: lightgrey;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-bottom: 1vw;
    padding-top: 1vw;
    margin-bottom: 5vh;
}

.research-text {
    float: left;
    width: 88vw;
}

.research-link {
    color: darkgoldenrod;
}

#contact {
    width: 100%;
    height: auto;
    min-height: 103vh;
    background-image: url("../image/contact-bg.jpg");
    background-size: 100% 100%;
    padding: 0px;
    margin: 0px;
    font-family: Times New Roman;
}

#contact-pad {
    height: 12vh;
}

#contact-content {
    width: 50vw;
    height: auto;
    min-height: 40vh;
    margin-left: auto;
    margin-right: auto;
    font-size: 180%;
    color: white;
    background-color: antiquewhite;
    opacity: 0.6;
    border: 1px solid white;
}

.link {
    color: yellow;
    margin-top: 20px;
}

.link-contact {
    color: blue;
    margin-top: 20px;
}

.link:hover {
    color: orange;
}

.link:active {
    color: purple;
}

#contact-title {
    padding-top: 50px;
    width: 18%;
    margin: auto;
    color: black;
    font-size: 40px;
    text-align: center;
    opacity: 1;
}

#contact-list {
    padding-top: 100px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    opacity: 1;
    color: black;
    padding-bottom: 50px;
}

#footer {
    width: 50vw;
    height: auto;
    margin: auto;
    margin-bottom: 10px;
}

#ending {
    margin: auto;
    color: gray;
    text-align: center;
}

#phone-show-margin {
    display: none;
}



@media only screen and (min-device-width: 320px) and (max-device-width: 736px) and (orientation: portrait) { 
    #home {
        background-image: url("../image/home-bg-phone.jpg");
        min-height: 0px;
        min-width: 0px;
        width: 100vw;
        padding-top: 0px;
    }
    
    body {
        min-width: 0px;
        width: 100vw;
    }
    
    #researches {
        min-width: 0px;
        width: 100vw;
        padding-top: 50px;
        background-size: auto;
        height: 200vh;
    }

    #name-home {
        font-size: 30px;
        margin-top: 40px;
    }

    #welcome {
        font-size: 7vw;
    }

    #intro {
        font-size: 5vw;
        margin-top: 3vw;
        margin-left: 7%;
        margin-right: 7%;
    }
    
    #contact-content {
        width: 90vw;
        font-size: 30px;
    }
}

